/*初始化style*/

a {
    text-decoration: none;
    color: #525252;
}

.inner {
    width: 1160px;
    margin: 0 auto;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
p,
input {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

body {
    margin: 0 auto;
}


/*全局样式*/

.header,
.footer,
.banner,
.main {
    min-width: 1340px;
}


/*头部弹框*/

.header-add {
    height: 70px;
    background: #a7a9ac;
}

.header-add-box {
    position: relative;
}

.header-add ul li {
    float: left;
}

.header-add-btn{
    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: -6px;
}
.header-add-btn{
	color: #fff;
	font-size: 20px;

}
.myradio{
    float: left;
}

.header-add-btn>a>img {
    float: right;
}

.myClose{
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
}


/*头部弹框*/

.header-top {
    font-size: 12px;
    position: relative;
}

.header-btn {
    float: left;
    padding: 46px 0;
}

.header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -75px;
}

.header-login {
    float: right;
}

.header-login ul li {
    float: left;
    margin-left: 20px;
    line-height: 128px;
}


/*弹出语言框*/

.header-login ul li:last-child a {
    position: relative;
}

.language-box {
    width: 113px;
    border: 1px solid #aaa;
    position: absolute;
    top: 28px;
    right: 0px;
    display: none;
}

.language-box span {
    display: block;
    float: left;
    line-height: 28px;
    width: 56px;
    text-align: center;
    font-weight: 800px;
    color: #222;
}

.language-eng {
    border-right: 1px solid #aaa;
}

.language-eng:hover {
    background: #aaa;
    color: #fff;
}

.language-chinese:hover {
    background: #aaa;
    color: #fff;
}

.header-login ul li:last-child a {
    background: url(../img/header-language-arrow.gif) no-repeat right -4px;
}

.header-login ul li:last-child a.language-arrow {
    background: url(../img/header-language-arrow.gif) no-repeat right -32px;
}


/*end 语言框*/


/*头部导航样式*/

.header-nav {
    height: 48px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    line-height: 48px;
    background: #fff;
    z-index: 999;
    margin: 0 auto!important;
    width: 100%;
}


/*导航中间*/

.header-nav-box {
    position: relative;
    top: -1px;
}


/*一级菜单*/

.header-nav-bar {
    font-size: 16px;
    color: #ccc;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.header-nav-bar>ul>li>a {
    display: block;
    width: 124px;
    color: #333;
    text-align: center;
    border: 1px solid #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.header-nav-bar>ul>li:first-child>a:first-child,
.header-search-icon {
    border-left: 1px solid #ccc;
}

.header-nav-bar>ul>li:last-child>a:last-child,
.header-search-icon {
    border-right: 1px solid #ccc;
}

.header-search-icon {
    cursor: pointer;
}

.header-nav-bar-active {
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: 1px solid #a48667;
    height: 49px;
    background: #fff;
}

.header-nav-bar>ul>li,
.header-shop-bar,
.header-shop-bar>ul>li {
    float: left;
}


/*二级菜单*/

.header-nav-menu {
    width: 99.8%;
    height: 350px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    z-index: 111;
}

.header-nav-menu ul li {
    background: #fff;
}

.header-nav-menu ul li+li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.menu-list {
    padding-left: 60px;
}

.menu-title {
    margin-top: 20px;
}

.header-nav-menu ul {
    float: left;
    width: 220px;
}

.header-nav-menu>ul>li+li {
    height: 26px;
}

.header-nav-menu>ul>li+li>a {
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    line-height: 26px!important;
}

.menu-title>a {
    font-size: 16px;
    color: #A48667;
}


/*购物车*/

.header-shop {
    position: absolute;
    right: 0px;
    width: 406px;
}

.header-shop-bar>ul>li {
    padding-left: 18px;
}

.header-shop-bar ul li:last-child {
    padding-left: 50px;
}

.header-shop-bar span {
    color: #8a6b3c;
    margin-left: 4px;
}


/*搜索框*/

.header-search {
    position: absolute;
    right: 0px;
}

.header-search-icon {
    float: right;
    width: 48px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    position: relative;
    z-index: 111;
}

.header-input {
    height: 48px;
    border: 1px solid cornflowerblue;
    border-left: none;
    outline: none;
    background: #eee;
    text-indent: 18px;
    width: 0px;
    margin-right: -1px;
}

.fa-search-icon {
    background: #000;
    color: #fff;
    transition: background-color 1s;
}


/*轮播图样式*/

.banner {
    position: relative;
}

.banner-pic>ul {
    overflow: hidden;
    position: relative;
}

.banner-pic>ul>li {
    width: 100%;
}

.banner-pic-one{
    position: relative;
    top: 0px;
}
.banner-pic-two{
    position: absolute;
    top: 0px;
    left: 100%;
}

.banner-pic img {
    width: 100%;
}

.banner-cicle {
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.banner-cicle>ul>li {
    width: 14px;
    height: 14px;
    background: #ccc;
    border-radius: 50%;
    float: left;
    margin-left: 6px;
}

.banner-active {
    background: #666!important;
}


/*产品内容*/

.main-title {
    width: 320px;
    height: 40px;
    margin: 40px auto;
    border: 1px solid #ccc;
}

.main-title a {
    display: inline-block;
    width: 160px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    float: left;
}

.main-title a {
    display: block;
}

.product-new {
    background: #000;
    color: #fff;
}

.product-new a {
    color: #fff;
}

.product-best {
    background: #fff;
    color: #000;
}

.main-product-box h4 {
    font-size: 16px;
    color: #000;
}

.main-product-box span {
    font-size: 12px;
    color:#A48667;
}

.main-product {
    height: auto;
    line-height: 24px;
}

.main-product ul {
    height: auto;
    margin-bottom: 80px;
}

.main-product ul li {
    float: left;
    text-align: center;
    position: relative;
}

.main-product ul li:hover .product-hover {
    display: block;
    cursor: pointer;
}

.product-icon {
    width: 40px;
    height: 20px;
    background: url(../img/ico_new.gif) no-repeat left top;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 11;
}

.product-icon-best {
    background: url(../img/ico_best.gif) no-repeat left top;
    z-index: 11;
}

.product-icons {
    width: 40px;
    height: 20px;
    background: url(../img/ico_best.gif) no-repeat left top;
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 11;
}

.product-hover {
    width: 260px;
    height: 308px;
    border: 1px solid #222;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, .8);
    text-align: center;
    display: none;
}

.product-hover>h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 60px 0 20px 0px;
}

.product-hover>p {
	width: 250px;
	margin: 0 auto;
	font-size: 14px;
    line-height: 20px;
}

.product-hover>span {
    display: block;
    padding: 28px 0 44px 0;
    font-size: 16px;
    color: #222;
}

.product-hover>span>i {
    font-style: normal;
    color: #A48667;
}

.product-hover-bom>ul {
    border-top: 1px solid #222;
    font-weight: bold;
    font-size: 14px;
    line-height: 48px;
}

.product-hover-bom>ul>li+li {
    border-left: 1px dotted #222;
}

.product-hover-bom>ul>li {
    float: left;
    padding: 0px 14px;
}


/*底部轮播图*/

.main-product-pic {
    margin-bottom: 60px;
}

.main-product>ul>li>img {
    width: 260px;
    height: 260px;
}

.main-product>ul>li+li {
    margin-left: 40px;
}

.product-pic-slide {
    float: left;
}

.product-pic-right {
    float: right;
}


/*点击切换样式*/

.list-one {
    display: none;
}


/*产品细节*/

.main-product-details {
    background: #f5f5f5;
    overflow: hidden;
    padding: 60px 0;
}

.main-product-details h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 14px;
}

.main-product-details .product-details-slidePic {
    width: 765px;
    background: #d5d5d5;
    float: left;
    height: 496px;
    position: relative;
}

.product-details-slidePic ul li a img {
    margin: 0 auto;
}

.product-details-info {
    background: #fff;
    /*height: 220px;*/
    float: right;
}

.product-info-evaluate {
    width: 344px;
    overflow: hidden;
    margin: 0 auto;
}

.evaluate-box span {
    line-height: 70px;
    display: block;
}

.evaluate-box span:first-child {
    float: left;
    font-size: 14px;
}

.evaluate-box span:last-child {
    float: right;
    width: 76px;
    height: 15px;
    background: url(../img/product_star.png);
    margin-top: 24px;
}

.product-info-evaluate>h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.product-info-evaluate>p {
    line-height: 20px;
    padding: 30px 0 30px 0;
}

.product-info-evaluate>h4 {
    text-align: right;
    padding-bottom: 20px;
}

.product-info-evaluate>h4:hover {
    cursor: pointer;
}


/*底部轮播图*/

.continer {
    width: 749px;
    height: 437px;
    position: relative;
    margin: 0 auto;
}

.round {
    position: absolute;
    width: 175px;
    bottom: 5px;
    left: 50%;
    margin-left: -80px;
}

.round:after {
    content: "";
    display: block;
    clear: both;
}

.round li {
    width: 20px;
    display: block;
    height: 20px;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    color: white;
    background: #878787;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.info {
    width: 19px;
    height: 35px;
    position: absolute;
    top: 200px;
    cursor: pointer;
    background: url(../img/btn_prev.gif) no-repeat;
}

.infoRight {
    background: url(../img/btn_next.gif) no-repeat;
}

#controlLeft {
    left: 20px;
}

#controlRight {
    right: 20px;
}

.control {
    display: none;
}

.scrollImage .current {
    display: block;
}

.scrollImage li {
    display: none;
}

.round .current {
    background: #222;
}


/*底部样式*/

.footer-contant {
    background: #222;
    color: #fff;
    font-size: 16px;
}

.footer-contant-box {
    border: 1px dotted #ccc;
    border-top: none;
    border-bottom: none;
}

.footer-contant-box h3 {
    font-weight: normal;
    padding: 24px 0;
}

.footer-contant-box ul li,
.footer-qrcode img {
    float: left;
}

.footer-qrcode>img:hover {
    cursor: pointer;
}

.footer-contant-box ul li {
    height: 210px;
    width: 346px;
    padding-left: 40px;
}

.footer-contant-box ul li+li {
    border-left: 1px dotted #ccc;
}

.footer-qrcode p {
    float: left;
    margin-left: 30px;
    text-align: top;
}

.footer-customer span {
    font-size: 14px;
    color: #ccc;
}

.footer-customer-btn {
    width: 80px;
    height: 32px;
    color: #bbb;
    background: #393939;
    border: none;
    outline: none;
    margin-top: 14px;
}

.footer-customer-btn a {
    color: #D0D0D0;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
}

.footer-contant-box ul li:last-child {
    padding-left: 0;
    width: 384px;
    text-align: center;
}

.footer-contant-box ul li:last-child h1 {
    color: #f4d4a4;
    border: 1px solid #777;
    width: 304px;
    margin: 0 auto;
    border-left: none;
    border-right: none;
    line-height: 50px;
}

.footer-contant-box ul li:last-child h2 {
    font-size: 20px;
}

.footer-contant-box ul li:last-child span {
    color: #ccc;
    line-height: 50px;
}

.footer-policy-text,
.footer-policy-text ul li,
.footer-policy-icon>ul>li {
    float: left;
}

.footer-policy-box {
    position: relative;
}

.footer-policy-text>ul>li+li {
    margin-left: 20px;
}

.footer-policy-text>ul>li>a {
    font-size: 14px;
    color: #222;
    line-height: 48px;
}

.footer-policy-icon,
.footer-address img {
    float: right;
}

.footer-policy-icon>ul>li>a {
    margin-left: 20px;
    line-height: 48px;
    font-size: 16px;
    color: #111;
    font-weight: bold;
}

.footer-policy-icon li:last-child a {
    display: block;
    width: 130px;
    height: 28px;
    border: 1px solid #ccc;
    margin-top: 10px;
    line-height: 28px;
    text-indent: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #aaa;
    background: url(../img/header-language-arrow.gif) no-repeat 110px -1px;
}

.policy-icon-selector {
    width: 130px;
    border: 1px solid #ccc;
    position: absolute;
    border-top: none;
    background: #fff;
    right: 0px;
    display: none;
}

.selector-toggle {
    display: block;
}

.policy-icon-selector li {
    text-indent: 10px;
    line-height: 28px;
}

.policy-icon-selector li:hover {
    background: #A48667;
    color: #fff;
    cursor: pointer;
}

.policy-icon-selector>li+li {
    border-top: 1px solid #ccc;
}

.fa-weixin:hover {
    color: green;
}

.fa-weibo:hover {
    color: red;
}

.footer-line {
    height: 1px;
    background: #ccc;
}

.footer-address p {
    float: left;
    line-height: 22px;
    padding: 30px 0;
    font-size: 12px;
}

.footer-address img {
    padding-top: 30px;
}
